<ion-header class="ion-no-border">
  <ion-toolbar class="toolbarStyle">
      <ion-buttons slot="start">
        <ion-button routerLink="/about">About</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/contact">Contact</ion-button>
      </ion-buttons>
      <ion-img 
        src="https://www.clipartmax.com/png/middle/432-4320090_criminal-clipart-criminal-justice-logo-for-lawyers-png.png"
      ></ion-img>
      <ion-title slot="center">LawChouice</ion-title>
  </ion-toolbar>  
</ion-header>
