<ion-content>
  <ion-header class='ion-no-border'>
    <ion-toolbar >
      <ion-buttons class="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img></ion-img>
  <ion-content class="ion-padding">
    <h1>We Create Dreams</h1>
    <p>Non irure reprehenderit qui consequat eiusmod enim pariatur culpa adipisicing culpa amet quis officia. Anim officia esse velit dolore proident eu ullamco ad eu non exercitation anim. Proident duis consectetur et et magna consequat aliquip pariatur commodo elit Lorem. Proident reprehenderit officia velit consectetur quis nisi laborum sunt irure tempor do fugiat. Aute aliquip est laborum ullamco ipsum exercitation consequat amet duis mollit veniam.</p>
    <p>Non irure reprehenderit qui consequat eiusmod enim pariatur culpa adipisicing culpa amet quis officia. Anim officia esse velit dolore proident eu ullamco ad eu non exercitation anim. Proident duis consectetur et et magna consequat aliquip pariatur commodo elit Lorem. Proident reprehenderit officia velit consectetur quis nisi laborum sunt irure tempor do fugiat. Aute aliquip est laborum ullamco ipsum exercitation consequat amet duis mollit veniam.</p>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center">Created by Dream-Makers</ion-title>
      <ion-title class="ion-text-center" size="small">1313 Mockingburd Lane</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>