<ion-content>
  <ion-header class='ion-no-border'>
    <ion-toolbar >
      <ion-buttons class="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">FAQs List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let faq of faqs">
    <ion-item [routerLink]="['/faqs-details', faq.id]">
      <ion-icon slot="start" icon="information-circle-outline"></ion-icon>
      <ion-label>{{faq.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>